html{
	 scroll-behavior: smooth;
}

body {
    margin-top: 50px;
}

.jumbotron {
	background-image: url('../img/bg/23832.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: 0 -100px;
	color:white;
	overflow: hidden;
}

.jumbotron img {
    width: 40%;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}

.jumbotron h1, .jumbotron p{
	text-shadow: 1px 1px 10px rgba(0,0,0,0.5);
	overflow: hidden;
}
.Tentang p { 
	text-align: center;
	font-size:1rem;
}
.portfolio .card{
	opacity: 0;
	transform: translate(0, -40px);
	transition: .5s;

}
.portfolio .card.muncul {
	opacity: 1;
	transform: translate(0,0);
}

h1{
	font-size: 60px;
}

h2{
color: #000000;
}

hr { 
	width: 220px;
	border-top: 4px solid #000000;
}

section {
    min-height: 420px;
}

footer {
    min-height: 50px;
    padding-top:12px;
}
.navbar-brand{
	font-family: 'Dancing Script', cursive;
}
